<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>431532630932-hkk153b0rc564bhtphh4o1i5escg7vkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431532630932-hkk153b0rc564bhtphh4o1i5escg7vkg</string>
	<key>API_KEY</key>
	<string>AIzaSyCkdRMLzTVHiCXUQW8CHN2TB52FtEDhkog</string>
	<key>GCM_SENDER_ID</key>
	<string>431532630932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sofia.io.AppsTracker</string>
	<key>PROJECT_ID</key>
	<string>appstracker-e1e52</string>
	<key>STORAGE_BUCKET</key>
	<string>appstracker-e1e52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:431532630932:ios:ceb2fad809f1fbb1</string>
	<key>DATABASE_URL</key>
	<string>https://appstracker-e1e52.firebaseio.com</string>
</dict>
</plist>